<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_etechflow_reviews_comment_index">
        <observer name="etechflow_apr_update_notification"
                  instance="ETechFlow\AdvancedProductReviews\Observer\AddUpdateNotification"/>
    </event>
    <event name="controller_action_predispatch_etechflow_reviews_analytics_index">
        <observer name="etechflow_apr_update_notification_analytics"
                  instance="ETechFlow\AdvancedProductReviews\Observer\AddUpdateNotification"/>
    </event>
</config>
